
<div class="main users-new">
  <div class="container">
    <div class="form-heading">Sign up</div>
    <div class="form users-form">
      <div class="form-body">
        <!-- Add a form_tag method to send the data to the "create" action -->
        <%= form_tag("/users/create") do  %>
          <p>Name</p>
          <!-- Add the "name" attribute -->
          <input name="name">
          <p>Email</p>
          <!-- Add the "name" attribute -->
          <input name="email">
          <input type="submit" value="Sign up">
        <!-- Add an end statement -->
        <% end %>
      </div>
    </div>
  </div>
</div>
